*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    transform: all .2s;
    text-decoration: none;
    font-size: 15px;

}
html{
    font-size: 53%;
    scroll-behavior: smooth;
    overflow-x: hidden;

}
.header{
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 100000;
    box-shadow: rgba(20, 20, 20, 0.308) 0px 3px 8px;
    background-color: rgb(236, 231, 230);
    
}

.header a{
    
    font-size: 2rem;
}
header{
    
    z-index:999;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
    transition: 0.5s ease;
    background-image: url('images/header.jpg');
    background-size: cover;
}

header .brand{
    color:white;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 0.3em;


}
header .brand i{
    font-size: 1em;
}
header.navigation{
    position:relative;

}
header .navigation .navigation-items a{
    position:relative;
    color:white;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition:0.3s ease;

}
header .navigation .navigation-items a:before{
    content:'';
    position: absolute;
    background:white;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before{
    width:100%;

}
header .navigation .navigation-items .culture{
    font-weight: bolder;
    color: white;
    border: 1px solid white;
    padding: 7px 20px;
    background-color: orangered;
    border-radius: 80px;
}
.container{
    position:absolute;
    margin-left: 20px;

}
.container .heading{
    margin-top: 80px;
    text-align: center;
    padding-bottom: 20px;
    color: orangered;
    text-shadow: 0 5px 10px rgba(0,0,0,0.2);
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}
.box-container{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 15px;

}

.box-container .images{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: white;
    text-align: center;
    padding: 30px 20px;

}
.box-container .images img{
    height: 225px;
    width: 290px;

}
.content{
    margin-left: 18px;
}
 p{
    text-indent: 20px;
 line-height:30px;}
 h3{
     font-size: larger;
 }
 p.intro{
     margin-top:0px;
 }
p.intro::first-letter{
    color:orangered;
    font-size: xxx-large;

}
.contact{
    font-size: small;
    position:absolute;
    text-decoration: none;
    margin-top: 2070px;
    margin-left: 550px;
   
}
.contact a{
    color: orangered;
}
.contact a i{
    font-size: 30px;
}

